html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,em,font,img,ins,kbd,q,s,samp, small,strike,strong,sub,sup,tt,var, b,u,i,center, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;
font-family:Arial;margin:0;outline:0;padding:0;vertical-align:baseline;}
body{line-height:1.2;}
ol,ul{margin-left:25px;}
:focus{outline:1px #c0c dotted;}
@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeout{0%{opacity:0;top:50px;}20%{opacity:1;top:120px;}80%{opacity:1;top:120px;}100%{opacity:0;top:50px;}}

body{font-family:helvetica, arial;margin:0;color:#101010;min-height:100%;line-height:1.2;}
:focus{outline:none;}
html{ 
	min-height:100%;
	background: url(../images/bg1.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1, h2, h3{font-family:roboto, arial;}

/* buttons */
#main a.btn-default:link, #main a.btn-default:visited{border:1px solid #0479af;display:inline-block;color:#f7f7f7;font-weight:400;font-family:roboto, arial;padding:5px 10px 5px 10px;background-color:#0479af;text-decoration:none;font-size:13px;text-align:center;margin-bottom:7px;margin-top:7px;}
#main a.btn-default:hover{background-color:#0483bf;}
#main a.btn-light:link, #main a.btn-light:visited{border:1px solid #dedede;display:inline-block;color:#505050;font-weight:500;font-family:"roboto", arial;padding:5px 10px 5px 10px;background-color:#f2f2f2;text-decoration:none;font-size:13px;text-align:center;margin-bottom:7px;margin-top:7px;}
#main a.btn-light:hover{background-color:#f7f7f7;}
#main a.btn-shl:link, #main a.btn-shl:visited{border:1px solid #004875;display:inline-block;color:#f7f7f7;font-weight:500;font-family:roboto, arial;padding:2px 10px 2px 10px;background-color:#0479af;text-decoration:none;font-size:13px;text-align:center;margin-bottom:7px;margin-top:7px;}
#main a.btn-shl:hover{background-color:#0483bf;}

#notif_box{
	width:280px;
	background-color:#1c1c1c;
	margin:0;
	position:fixed;
	z-index:91;
	left:50%;
	top:95px;
	margin:0 0 0 220px;
	padding:10px;
	color:#FFF;
	display:none;
}
#notif_box_shadow{
	width:280px;
	background-color:#1c1c1c;
	margin:0;
	position:fixed;
	z-index:89;
	left:50%;
	top:95px;
	margin:0 0 0 220px;
	padding:10px;
	box-shadow: 0 0 10px 5px #000;
	-webkit-box-shadow: 0 0 10px 5px #000;
	-moz-box-shadow: 0 0 10px 5px #000;
	-o-box-shadow: 0 0 10px 5px #000;
	display:none;
}
#notif_box p{padding:5px;font-size:11px;margin-bottom:10px;text-align:center;}
#notif_box p a:link, #notif_box p a:visited{color:#FFF;font-weight:bold;text-decoration:none;}
#notif_box p a:hover{text-decoration:underline;}
#notif_box table{width:280px;padding:5px;font-size:11px;margin-bottom:10px;}
#notif_box td{word-wrap:break-word;text-align:left;vertical-align:text-top;}
#notif_box td a:link, #notif_box td a:visited{color:#F90;text-decoration:none;}
#notif_box td a:hover{color:#FFF;}
#notif_box .notif-show-link:link, #notif_box .notif-show-link:visited{background-color:#1c1c1c;padding:5px;font-size:12px;color:#FFF;text-decoration:none;}
#notif_box .notif-show-link:hover{background-color:#06C;}
#notif_box .bottom-not{width:280px;background-color:transparent;margin-bottom:0px;}

#globalheader{
	width:100%;
	background-color:#1c1c1c;
	margin:0;
	padding-top:15px;
	position:fixed;
	z-index:90;
	box-shadow: 0 0 10px 5px #000;
	-webkit-box-shadow: 0 0 10px 5px #000;
	-moz-box-shadow: 0 0 10px 5px #000;
	-o-box-shadow: 0 0 10px 5px #000;
}
#notification_btn{background-image:url(../images/notif.png);background-repeat:no-repeat;background-position:center;height:25px;width:25px;}
#notification_btn:hover{background-image:url(../images/notif_hover.png);}
#navigation .notif_occupy{background-image:url(../images/notif_occupy.png);animation:blink 1s;animation-iteration-count:infinite;}
#message_btn{background-image:url(../images/msg.png);background-repeat:no-repeat;background-position:center;height:25px;width:25px;}
#message_btn:hover{background-image:url(../images/msg_hover.png);}
#navigation .msg_occupy{background-image:url(../images/msg_occupy.png);animation:blink 1s;animation-iteration-count:infinite;}
.bignotifier{background-image:url(../images/notify_box.png);top:-1000px;left:50%;margin:0 0 0 240px;padding:15px 20px;color:#FFF;position:fixed;z-index:88;width:210px;height:20px;animation:fadeout 10s;opacity:0;}
#logoheader{width:1000px;margin:auto;height:50px;}
#logo{float:left;width:230px;height:35px;padding-top:10px;padding-left:0px;}
a.stealth:link, a.stealth:visited{text-decoration:none;font-family:inherit;color:inherit;}
#navigation-container{width:100%;margin-top:5px;background:#1c1c1c;}
#navigation{padding:3px 0 1px 0px;margin:0;list-style:none;height:25px;width:1000px;margin-left:auto;margin-right:auto;background:#1c1c1c;margin-bottom:0px}
#navigation ul{width:1000px;padding:0;margin:0;overflow:hidden;}
#navigation li{float:left;list-style-type:none;padding:0;margin:0;}
#navigation li a{display:block;float:left;height:18px;line-height:18px;color:#eaeaea;text-decoration:none;text-align:center;padding:3px 20px 3px 1px;cursor:pointer;}
#navigation li.myapps, #navigation li.last{float:right;padding-right:0px;}
#navigation li.last a{border:none;padding-right:10px;}
#navigation li.navmainstop a{border-right:none;}
#navigation li a b{float:left;display:block;font-family:oswald, verdana;font-weight:400;font-size:14px;margin:0;padding:0;}
#navigation li a:hover{color:#0483bf;}

#navpath{width:650px;margin:0;padding:10px 0 20px 20px;font-family:roboto, arial;font-weight:400;font-size:13px;color:#303030;}
#navpath a{color:#0479af;font-family:roboto, arial;font-weight:400;text-decoration:none;}
#navpath a:hover{color:#0479af;text-decoration:underline;}
#navpath img{padding-right:4px;padding-left:4px;}

.black_overlay{
	display:none;
	position:fixed;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:black;
	z-index:1001;
	-moz-opacity:0.8;
	opacity:.80;
	filter:alpha(opacity=80);
}
.white_content {
	display:none;
	position:fixed;
	margin:-70px 0 0 -350px;
	width:700px;
	height:140px;
	padding:16px;
	top:50%;
    left:50%;
	box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
	background-color: white;
	z-index:1002;
	overflow: auto;
	border-radius:10px;
	text-align:center;
}

a:link, a:visited{text-decoration:underline;color:#084e94;color:#0479af;border:0;}
a:hover{color:#0580ea;text-decoration:underline;}
img{border:0;}

#contentcontainer{width:1000px;margin:auto;background:#ffffff;background-color:#ffffff;min-height:100%;overflow:hidden;margin-bottom:0px;padding:0;padding-top:120px;}
#main{width:650px;margin:0;padding:10px 0 20px 20px;font-family:roboto, arial;font-weight:400;font-size:13px;color:#303030;}
#main a{color:#0479af;font-family:roboto, arial;font-weight:400;text-decoration:none;}
#main a:hover{color:#0479af;text-decoration:underline;}
#main img{padding-right:4px;padding-left:4px;}

h3#cmt-head{margin-top:5px;margin-left:7px;}
#cmt-box{font-size:12px;font-family:verdana, arial;}
#cmt-box .cmtheader{padding-bottom:10px;padding-left:55px;clear:both;width:600px;background-position:0px 0px;background-repeat:no-repeat;}
#cmt-box .cmtheader q{font-size:17px;font-weight:500;margin-bottom:7px;margin-top:10px;display:block;font-family:helvetica;color:#202020;}
#cmt-box .usrname a:link, #cmt-box .usrname a:visited{font-size:12px;color:#5A5A5A;font-weight:bold;text-decoration:none;}
#cmt-box .usrname a:hover{text-decoration:underline;}
#cmt-box .usrname, #cmt-box .usrname a{color:#909090;}
.cmtheader i{font-size:12px;color:#4B4B4B;}
#cmt-box .cmtheader span{display:block;padding-left:5px;font-size:12px;}
#cmt-box span.toggletext{font-size:11px;padding-top:6px;display:block;}
#cmt-box span.toggletext a{text-decoration:none;}
#cmt-box .cmtcontent{font-size:14px;padding:0 15px 20px 5px;width:573px;line-height:20px;font-family:helvetica, arial;border-bottom:1px solid #cdcdcd;margin-bottom:20px;}
#cmt-box ul{margin-left:5px;width:800px;border:1px dotted #dcdcdc;padding:10px;}
#cmt-box .subcmtheader{padding-bottom:10px;padding-left:55px;clear:both;width:600px;background-position:0px 0px;background-repeat:no-repeat;}
#cmt-box .subcmtheader q{font-size:17px;font-weight:500;margin-bottom:7px;margin-top:10px;display:block;font-family:helvetica;color:#202020;}
.subcmtheader i{font-size:12px;color:#4B4B4B;}
#cmt-box .subcmtheader span{display:block;font-size:12px;}

h3#ftn-headline{font-family:oswald, arial;font-weight:300;font-size:23px;color:#404040;clear:both;width:980px;padding-left:20px;background-color:#ffffff;margin-left:auto;margin-right:auto;padding-bottom:5px;border-bottom:1px solid #cdcdcd;}
div.ftn-container{display:block;background-color:#dcdcdc;padding:10px;width:980px;height:190px;margin-left:auto;margin-right:auto;}
div.ftn-float{float:left;margin:5px;padding:5px;width:180px;height:160px;text-align:center;}
div.ftn-float img{height:120px;max-width:120px;border:6px solid #808080;}
div.ftn-float p{text-align:center;margin:5px 0 0 0;font-size:13px;font-family:roboto, arial;font-weight:400;color:#606060;}
span.tnheader{display:block;}
span.tnheader a{font-size:14px;font-family:roboto, arial;font-weight:500;text-decoration:underline;}

h3#cmt-head{font-size:20px;width:630px;color:#303030;font-weight:400;margin-left:5px;padding:0;background:#ffffff;font-family:"roboto condensed", arial;margin-top:15px;margin-bottom:5px;clear:both;} /* Headings */
#pp-comment-container{float:left;width:625px;margin-left:15px;margin-bottom:20px;} /*containers */
h3.subheader{margin-left:25px;font-family:roboto,arial;font-weight:400; color:#303030;margin-bottom:10px;width:800px;padding-bottom:5px;border-bottom:1px solid #c0c0c0;display:block;font-size: 1.17em;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;}
.subcontainer{width:800px;}
.border-table{width:580px;font-size:13px;background-color:#ffffff;border:2px solid #dcdcdc;padding:20px;margin-left:15px;margin-top:5px;}
.border-table2{font-size:13px;background-color:#ffffff;border:2px solid #dcdcdc;padding:20px;margin-left:15px;margin-top:5px;}
.border-table2 p{font-size:10px;font-style:italic;}
.mediumbtn{font-weight:bold;font-size:14px;width:100px;}
.bigbtn{font-family:roboto,arial;font-weight:500;font-size:15px;}
.p-graph{width:580px;margin-left:25px;font-size:14px;}
.p-graph p{line-height:20px;}

#footerline{font-size:11px;color:#575757;clear:both;width:100%;padding-top:10px;padding-bottom:10px;}
#footerlinks{width:1000px;margin-left:auto;margin-right:auto;padding-left:20px;padding-top:20px;}
#footerlinks .flistheader{font-size:16px;color:#1570a6;padding-bottom:7px;font-family:"oswald", verdana;font-weight:400;}
#footerlinks a:link, #footerlinks a:visited{color:#757575;text-decoration:none;font-size:13px;font-family:roboto, arial;font-weight:300;}
#footerlinks a:hover, #footerlinks a:hover{color:#adadad;text-decoration:none;}
#footerlinks li{color:white;padding-right:50px;list-style-type:none;}
#footerlinks ul{float:left;margin:0;margin-top:10px;padding:0;margin-bottom:10px;}
#globalfooter{border-top:0px solid #A8C809;width:100%;height:220px;background-color:#1c1c1c;font-family:"roboto";font-weight:500;}

.form-error{font-size:10px;color:#F00;}

div.searched_container{display:block;padding:10px;width:900px;height:1200px;margin-left:auto;margin-right:auto;}
div.searched_games{float:left;margin:5px;padding:5px;width:180px;height:250px;}
div.searched_games img{height:150px;max-width:150px;}
div.searched_games p{text-align:left;margin:5px 0 0 0;font-size:13px;font-family:roboto, arial;font-weight:400;color:#606060;text-align:center;}
#main .watching-colour:link, #main .watching-colour:visited{color:#EC8D00;}

.ctooltip{display:inline;position:relative;}
.ctooltip:hover:after{background:#333;background:rgba(0,0,0,.8);border-radius:5px;bottom:146px;color:#fff;content:attr(tooltip);left:5%;padding:5px 15px;position:absolute;z-index:30;width:100px;}
.ctooltip:hover:before{border:solid;border-color:#333 transparent;border-width:6px 6px 0 6px;bottom:140px;content:"";left:10%;position:absolute;z-index:31;}

#ar3ds-gamedisplay{width:923px;font-size:13px;background-color:#ffffff;border:2px solid #dcdcdc;padding:20px;margin-left:15px;margin-top:5px;}
#ar3ds-gamedisplay td{padding-left:5px;padding-top:5px;text-align:left;vertical-align:text-top;}

.arcode-listing{margin-top:0px;margin-bottom:20px;padding:15px 0 10px 15px;width:940px;height:150px;font-weight:400;padding-bottom:0;}
.arcode-details{float:right;width:140px;margin:0;padding:0;margin-left:30px;}
.arcode-details li{list-style-type:none;}
.arcode-details li.text{margin-top:2px;font-weight:400;font-family:roboto, arial;padding-left:3px;font-size:13px;}
.arcode-details li.fwtext, .arcode-details li.swtext{padding-left:4px;font-family:roboto, arial;font-size:13px;font-weight:400;margin-top:2px;color:#303030;}
.arcode-float{float:right;margin:0px 0px 5px 0px;padding:10px 13px 10px 11px;background-color:transparent;text-align:center;vertical-align:central;}
.arcode-float textarea{width:125px;height:140px;font-size:10px;text-align:right;resize:none;border:none;}
.arcode-header{margin-bottom:30px;width:600px;}
#main .arcode-header img{padding:4px;background-color:#ffffff;float:left;margin-right:6px;margin-top:1px;}
#main .arcode-header a{color:#303030;font-family:roboto, arial;font-size:18px;position:relative;top:5px;text-decoration:none;font-weight:400;}
#main .arcode-header a:hover{text-decoration:underline;}
#main a.arcode-selected:link, #main a.arcode-selected:visited{color:#303030;font-weight:500;font-family:roboto, arial;background-color:#f7ba00;border:1px solid #f7ba00;display:inline-block;padding-top:4px;padding-bottom:4px;padding-right:0;padding-left:0;text-decoration:none;font-size:13px;width:125px;text-align:center;margin-bottom:7px;margin-top:0;}
#main a.arcode-selected:hover{background:#ffc000;border-color:#f7ba000;}
#main a.arcode-selected:active{position:relative;top:1px;}
#main a.arcode-nilselected:link, #main a.arcode-nilselected:visited{color:#303030;font-weight:500;font-family:roboto, arial;background-color:#cccccc;border:1px solid #cccccc;display:inline-block;padding-top:4px;padding-bottom:4px;padding-right:0;padding-left:0;text-decoration:none;font-size:13px;width:125px;text-align:center;margin-bottom:7px;margin-top:0;}
#main a.arcode-nilselected:hover{background:#d4d4d4;border-color:#cccccc;}
#main a.arcode-nilselected:active{position:relative;top:1px;}
#main a.arcode-button:link, #main a.arcode-button:visited{color:#f9f9f9;font-weight:500;font-family:roboto, arial;background-color:#0479af;border:1px solid #0479af;display:inline-block;padding-top:4px;padding-bottom:4px;padding-right:0;padding-left:0;text-decoration:none;font-size:13px;width:125px;text-align:center;margin-bottom:7px;margin-top:0;}
#main a.arcode-button:hover{background:#0483bf;border-color:#036ea0;}
#main a.arcode-button:active{position:relative;top:1px;}
#main p.arcode-desc{padding:0px 0px 25px 0px;width:426px;margin:0;clear:left;font-family:helvetica, arial;line-height:19px;font-weight:400;font-size:12px;color:#303030;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}
.arcode-subheader{position:relative;top:5px;left:5px;color:#808080;font-weight:normal;}
#main .arcode-subheader a:link, #main .arcode-subheader a:visited{color:#808080;font-weight:normal;font-size:13px;top:0px;}
#main .arcode-subheader a:hover{text-decoration:underline;}
.arcode-qrdisplay{width:150px;height:150px;}

#headercmttxt{color:#F60;font-size:14px;text-decoration:blink;}

.user-category{clear:both;float:left;display:block;position:relative;}